.splash {
    height: 35em;
    padding-top: 9em;
    margin-bottom: 2em;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    color: #000000;
    text-align: center;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-transparent .navbar-brand, .navbar-transparent .nav > li > a {
    color:#000000 !important;
}
.navbar-transparent ul.nav a:hover {
    background-color:#FFF !important;
}

p {
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.6em;
    font-size: 20px;
}

.try .form-inline .form-group input {
    width:300px;
}

.form-input-big {
    height:51px;
}

.circle {
    margin-top:4em;
}

.circle .album-item {
    cursor:pointer;
}

.photos .photo {
    float:left;
    width:20%;
}

.photos-add {
    cursor:pointer;
}