.splash {
    height: 35em;
    padding-top: 9em;
    margin-bottom: 2em;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    color: #000000;
    text-align: center;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-transparent .navbar-brand, .navbar-transparent .nav > li > a {
    color:#000000 !important;
}
.navbar-transparent ul.nav a:hover {
    background-color:#FFF !important;
}

p {
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.6em;
    font-size: 20px;
}

.try .form-inline .form-group input {
    width:300px;
}

.form-input-big {
    height:51px;
}

.circle {
    margin-top:4em;
}

.circle .album-item {
    cursor:pointer;
}

.photos .photo {
    margin:10px;
}

.photos-add {
    cursor:pointer;
}

.space-left {
    margin-left:10px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.filedrag
{
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;

    display:block;
}

.filedrag-hover
{
    background-color:#ccc;
    border-color: #f00;
    border-style: solid;
}